.sidebar {
    position: fixed;
    top: 60px;
    width: 260px;
    height: calc(100% - 60px);
    background: rgb(36, 238, 36);
}
.sidebar ul {
    margin-top: 20px;

}

.sidebar ul li {
    width: 100%;
    list-style: none;
}

.sidebar ul li a {
    width: 100%;
    text-decoration: none;
    color: aliceblue;
    height: 60px;
    display: flex;
    align-items: center;
}